BLOGGER_RSS=https://yourblog.blogspot.com/feeds/posts/default
TWITTER_API_KEY=xxx
TWITTER_API_SECRET=xxx
TWITTER_ACCESS_TOKEN=xxx
TWITTER_ACCESS_SECRET=xxx
FACEBOOK_PAGE_ID=xxx
FACEBOOK_ACCESS_TOKEN=xxx
TELEGRAM_BOT_TOKEN=xxx
TELEGRAM_CHAT_ID=xxx
